/* =========================================
   RESET
========================================= */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  overflow: hidden;

  font-family: "Segoe UI", Arial, sans-serif;

  background: #f5f6f4;
  color: #1f2b24;
}

/* =========================================
   VARIÁVEIS
========================================= */
:root{

  /* CORES */
  --primary: #365b46;
  --primary-dark: #2e4f3d;

  --bg-main: #f5f6f4;
  --bg-sidebar: #eef2ee;
  --bg-card: #ffffff;

  --text-primary: #1f2b24;
  --text-secondary: #6f7c74;

  --border: #dfe5df;

  /* SOMBRA */
  --shadow: 0 2px 8px rgba(0,0,0,0.03);

  /* RADIUS */
  --radius-lg: 28px;
  --radius-md: 22px;
  --radius-sm: 14px;

  /* TRANSIÇÃO */
  --transition: .25s ease;

  /* TAMANHOS */
  --sidebar-width: 405px;
}

/* =========================================
   APP
========================================= */
.app{
  width: 100%;
  height: 100vh;

  display: flex;
}

/* =========================================
   SIDEBAR
========================================= */
.sidebar{
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);

  padding: 16px;

  border-right: 1px solid var(--border);

  display: flex;
  flex-direction: column;
  gap: 18px;

  background: var(--bg-main);
}

/* =========================================
   LOGO
========================================= */
.logo-link{
  width: fit-content;
  text-decoration: none;
}

.logo-image{
  width: auto;
  height: 70px;

  object-fit: contain;
  display: block;
}

/* =========================================
   MENU
========================================= */
.menu-box{
  flex: 1;

  background: var(--bg-sidebar);

  border-radius: 24px;

  padding: 24px 16px;

  overflow-y: auto;
}

/* SCROLL */
.menu-box::-webkit-scrollbar{
  width: 8px;
}

.menu-box::-webkit-scrollbar-track{
  background: transparent;
}

.menu-box::-webkit-scrollbar-thumb{
  background: #8ea192;
  border-radius: 50px;
}

/* =========================================
   TÍTULO
========================================= */
.menu-title{
  font-size: 1.1rem;
  font-weight: 700;

  margin-bottom: 22px;

  color: var(--text-primary);
}

/* =========================================
   LISTA
========================================= */
.plants-list{
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* =========================================
   ITEM
========================================= */
.plant-item{
  width: 100%;

  border: none;
  background: transparent;

  border-radius: 14px;

  padding: 14px 16px;

  display: flex;
  align-items: center;
  gap: 14px;

  cursor: pointer;

  text-align: left;

  transition: var(--transition);
}

.plant-item:hover{
  background: rgba(54,91,70,0.08);
}

/* ITEM ATIVO */
.plant-item.active{
  background: var(--primary);
  color: white;
}

.plant-item.active .plant-icon{
  color: white;
}
.plant-item.active .plant-icon img{
  filter: brightness(0) invert(1);
}
.plant-item.active{
  background: var(--primary);
  color: white;
}

/* =========================================
   ÍCONE
========================================= */
.plant-icon{
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.plant-icon img{
  width: 80px;
  height: 80px;

  object-fit: contain;
  display: block;
}


/* =========================================
   TEXTO ITEM
========================================= */
.plant-name{
  font-size: 1rem;
  font-weight: 500;
}

/* =========================================
   CONTEÚDO
========================================= */
.content{
  flex: 1;

  padding: 24px;

  overflow-y: auto;
}

/* =========================================
   CARD
========================================= */
.content-card{
  width: 100%;
  min-height: 100%;

  background: var(--bg-card);

  border-radius: var(--radius-lg);

  padding: 34px;

  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* =========================================
   IMAGEM
========================================= */
.image-box{
  width: 100%;
  height: 485px;

  border-radius: 24px;

  overflow: hidden;

  border: 1px solid var(--border);

  background: #f2f4f2;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGEM */
.image-box img{
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* =========================================
   PLACEHOLDER
========================================= */
.placeholder-icon{
  width: 130px;
  height: 130px;

  color: #d4dad5;
}

/* =========================================
   INFORMAÇÕES
========================================= */
.plant-info{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* =========================================
   TÍTULO
========================================= */
.plant-title{
  font-size: 4rem;
  font-weight: 700;

  line-height: 1;

  margin-bottom: 12px;

  color: var(--text-primary);
}

/* =========================================
   NOME CIENTÍFICO
========================================= */
.scientific-name{
  font-size: 1.7rem;
  font-style: italic;

  color: var(--text-secondary);
}

/* =========================================
   DIVISOR
========================================= */
.divider{
  width: 100%;
  height: 1px;

  background: var(--border);
}

/* =========================================
   DESCRIÇÃO
========================================= */
.description-title{
  font-size: 1.2rem;
  font-weight: 700;

  margin-bottom: 16px;
}

.description-text{
  max-width: 920px;

  font-size: 1.18rem;
  line-height: 1.9;

  color: #35433c;
}

